// include fonts
@font-face {
    font-family: "ArabicUIText";
    src: url("/assets/fonts/ArabicUIText-Light.otf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "ArabicUIText";
    src: url("/assets/fonts/ArabicUIText-Regular.otf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "ArabicUIText";
    src: url("/assets/fonts/ArabicUIText-Medium.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ArabicUIText";
    src: url("/assets/fonts/ArabicUIText-Semibold.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "ArabicUIText";
    src: url("/assets/fonts/ArabicUIText-Bold.otf");
    font-style: normal;
    font-weight: 600;
}