// start gloabl css color
$main_color: #293378;
$main_color_button: #303f9f;
$dark_color: #272727;
$white_color: #ffffff;
$space_gray: #00000026;
$of_white: #ffffff19;
$gray: #27272740;
$purbule: #943ba4;
$server: #29337840;
$gray_light: #2933780d;
$border-color-default: #eee;
$border-color-fill: #fba500;
$green: #19d074;
$bg-light: #f2f2f2;
$bg-med: #eee;
$first_font: "Poppins",
"ArabicUIText";
$sacend_font: "Noto Serif KR",
serif;
$arabic_font: "ArabicUIText";
$howManySteps: 100;
$animationTime: 1.5s;